*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(60, 71, 82);
}

button {
    width: 80px;
    height: 30px;
    background-color: slategray;
    filter: drop-shadow(2px 2px 4px #0c0a14);
    border: 0;
    margin-left: 300px;
    margin-top: 60px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

p {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
}

.shiny{
    position: absolute;
    top: 0;
    left: -70px;
    height: 100%;
    width: 150%;
    overflow: hidden;
}

.shiny div:nth-child(1) {
    background-color: white;
    width: 10px;
    height: 50px;
    position: absolute;
    transform: rotateZ(-25deg);
    top: -10px;
    left: 35px;
}

.shiny div:nth-child(2) {
    background-color: white;
    width: 3px;
    height: 50px;
    position: absolute;
    transform: rotateZ(-25deg);
    top: -10px;
    left: 20px;
}

button:hover .shiny {
    left: 100px;
    transition: 1.2s;
}

button:hover {
    background-color: rgb(145, 170, 194);
    transition: all ease-in 0.2s;
}